* {
  box-sizing: border-box;
  color: #5d6263;
  font-family: 'Sulphur Point', sans-serif;
}

body {
  background-color: #f7f2f2;
  line-height: 1.5;
  height: 100vh;
}

.home {
  background-color: #f7f2f2;
  height: 100vh;
  margin: 200px;
}


.home-berry-field {
  background-image: url("/images/Berry-field.jpg");
  border: solid 2px #d46058;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 2% 300px;
  padding: 10em 10em;
  position: relative;
}

header {
  background-color: #024615;
  background-image: url("/images/Berry-field.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  height: auto;
  line-height: 0.2;
  padding: 7vw 2em;
}

h2 {
  margin-top: 1em;
  padding: 0.5em;
  line-height: 1.2;
}


body > nav {
  font-size: 18px;
  line-height: 0.2;
  grid-area: nav;
  background-color: rgba(213, 99, 58, 0.2);
  border-top: solid 10px #d46058;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  color: #d46058;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #d8310b;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.Index-heading {
  margin: 40px 0 30px 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr 0.8fr;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
  color: #fff;
  text-align: center;
  padding: 50px;
}

grid-item-farms-index {
  margin: 100px;
}

.icon--link {
 color: grey;
}

.farm-name {
  font-weight: bold;
}

.input-group {
  padding: 10px;
}

.picking-hours {
  padding: 50px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}


.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.openHours, .produce, .farm-name {
  font-size:large;
  font-weight: bold;
  padding: 20px;
}

.hours {
  padding: 10px;
}

.produce-info {
  padding: 5px;
}

.produce-type {
  font-weight: bold;
  color: #d46058;
}


#produce-form-container {
  margin: 70px 0 70px 0;
}

.produce-container {
  padding: 10px 0;
}

.display-4 {
  padding: 70px 50px;
}

.wrapper {
  padding: 5px 20px 50px;
  background-color: rgba(239, 177, 155, 0.1);
  border-radius: 2%;
}

.table-review {
  background-color: rgb(2, 2, 103);
}

.form-label {
  font-size: 18px;
  font-weight: bold;
}

.btn-primary {
  background-color: #d46058;
  border: solid 1px #d46058;
  margin: 1em 0;
}

.btn-primary:hover {
  background-color: #f3dad8;
  border: solid 1px #e75a50;
}

.review-form-container {
  margin: 3em 0;
}



.map-on-show-page {
  margin: 3em 0;
}

.new-form-wrapper {
 margin: 50px 0
}