* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  background-color: rgb(202, 250, 163);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

h1 {
  align-items: center;
}

body > nav {
  grid-area: nav;
  background-color: #21a926;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  color: #f4fafb;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #d8310b;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.table {
  align-self: center;
  padding: 10px 100px;
  border: solid 1px;
}

.details-label {
  margin: 10px 0px;
  padding: 10px;
  border: solid 1px;
}

